
body {
	color: Yellow;


}

p{
	color: Blue;
	font-size: 20px;
	font-style: normal;
}
hr {
 height: 10px;
  background-color: Green;
 border: 0; 
 border-top:
  1px solid #999; 
  border-bottom: 1px
   solid #333; 
   height:0;
}
