
body {
	color: Yellow;


}
u{
		color: Green;
	font-size: 30px;
	font-style: Arial;


}
b{
		color: Orange;
	font-size: 27px;
	font-style: Calibri;
}
i{
		color: Pink;
	font-size: 35px;
	font-style: Castellar;
}

p{
	color: Blue;
	font-size: 20px;
	font-style: normal;
}
hr {
 height: 10px;
  background-color: Green;
 border: 0; 
 border-top:
  1px solid #999; 
  border-bottom: 1px
   solid #333; 
   height:0;
}
